<launch>
  <!-- start up grasp world with no GUI-->
  <!-- was
  <include file="$(find pr2_tabletop_manipulation_gazebo_demo)/launch/grasp_world.launch"/>
  -->
  <param name="/use_sim_time" value="true" />

  <!-- grasp.world is basically the same as empty.world, with slightly
       tweaked quickStep parameters.
    -->
  <node name="gazebo" pkg="gazebo" type="gazebo" args="-g $(find pr2_tabletop_manipulation_gazebo_demo)/worlds/grasp.world" respawn="false" output="screen"/>

  <!-- send pr2_r_arm.xml to param server -->
  <!--<include file="$(find pr2_gazebo)/pr2.launch" />-->
  <include file="$(find pr2_gazebo)/pr2_no_arms.launch" />

  <!-- spawn table and tabletop object -->
  <param name="table_description" command="$(find xacro)/xacro.py '$(find gazebo_worlds)/objects/table.urdf.xacro'" />
  <node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param table_description -model table_1" respawn="false" output="screen" />
  <node name="spawn_object" pkg="gazebo" type="spawn_model" args="-urdf -file $(find pr2_tabletop_manipulation_gazebo_demo)/urdf/coke_can.urdf -model object_1 -x 0.7 -z 0.55" respawn="false" output="screen" />

  <!-- start rviz, shut everything down if dummy kills rviz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" required="true"/>
</launch>

