<launch>
  <!-- start up grasp world with no GUI-->
  <!-- was
  <include file="$(find pr2_tabletop_manipulation_gazebo_demo)/launch/grasp_world.launch"/>
  -->
  <param name="/use_sim_time" value="true" />

  <!-- grasp.world is basically the same as empty.world, with slightly
       tweaked quickStep parameters.
    -->
  <!--<node name="gazebo" pkg="gazebo" type="gazebo" args="-g $(find pr2_tabletop_manipulation_gazebo_demo)/worlds/grasp.world" respawn="false" output="screen"/>
  -->
  <!-- Let's use empty world for now - it seems to start faster -->
  <node name="gazebo" pkg="gazebo" type="gazebo" args="-g $(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>

  <!-- send pr2_r_arm.xml to param server -->
  <include file="$(find pr2_gazebo)/pr2.launch" />
  <!--<include file="$(find pr2_gazebo)/pr2_no_arms.launch" />-->

  <!-- spawn the chess table -->
  <include file="$(find wpdchess)/launch/make_chess_table.launch"/>

  <!-- start rviz, shut everything down if dummy kills rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wpdchess)/configs/camera_view.vcg" respawn="false" output="screen" required="true"/>
</launch>

